@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background {
  background-size: 200%;
  animation: animation 5s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 5% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
}

#player {
  width: 100%;
  height: 100%;
  position: relative;
}
